body {
  margin: 0;
  padding: 0;
  background-color: #173840;
  color: #121212;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

aside#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-image: url("/img/funky-lines.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat;
  opacity: 1;
}

div#container {
  position: relative;
  max-width: 80em;
  margin: 0 auto;
  min-height: 100vh;
}
