main {
  position: absolute;
  right: 0;
  padding: 0 8px;
  width: calc(65em - 16px);
  min-height: 100vh;
  background-color: #111a;
  color: #ddd;

  header {
    margin-top: 16px;

    * {
      margin: 0;
    }
  }
}
