@media screen and (max-width: 1250px) {
  aside#sidebar {
    position: fixed;
    top: 0;
    left: -200vw;
    width: 100vw;
    height: calc(100vh - 16px);
    overflow-y: scroll;
    z-index: 10;
    transition: all 0.5s;
    background-color: #000a;
  }

  aside#sidebar.open {
    overflow-y: scroll;
    left: 0;
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 16px);

    div#mobile-header {
      margin-bottom: 16px;

      h1 {
        font-weight: normal;

        img {
          position: relative;
          top: 2px;
          height: 1em;
          border-radius: 4px;
          margin-right: 8px;
        }

        span {
          font-weight: bold;
        }
      }
    }
  }

  aside#menu {
    position: fixed;
    right: 16px;
    top: 16px;
    color: #eee;
    background-color: #222a;
    padding: 8px;
    font-size: 2em;
    border-radius: 4px;
    cursor: pointer;
    z-index: 999;
    transition: all 0.5s;
  }

  aside#menu.open {
    background-color: #222f;
    color: #fff;
  }
}

@media screen and (min-width: 1250px) {
  aside#sidebar {
    section.sidebar-footer {
      position: absolute;
      bottom: 0;
      right: 16px;
      text-align: right;
    }
  }

  aside#menu {
    display: none;
  }

  div#mobile-header {
    display: none;
  }
}
