aside#sidebar {
  position: absolute;
  left: 0;
  width: calc(15em - 16px);
  float: left;
  padding: 8px;
  min-height: calc(100vh - 16px);
  color: #eee;

  h1 {
    margin-bottom: 16px;
    text-align: left;
    font-family: 'Arimo', sans-serif;
    line-height: 1.5em;
    font-weight: normal;

    span {
      font-weight: bold;
    }

    img.logo {
      position: relative;
      top: -2px;
      display: block;
      float: left;
      margin-right: 8px;
      width: 3em;
      border-radius: 4px;
    }
  }

  h3 {
    margin-bottom: 0;

    img {
      position: relative;
      top: 2px;
      height: 1em;
      margin-right: 8px;
    }
  }

  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;

    li {
      transition: all 0.1s;
    }

    li.active {
      padding-left: 4px;
      border-left: 2px solid #3eb28f;
      background: linear-gradient(to right, rgba(62,178,143,0.2) 0%,rgba(62,178,143,0.2) 80%,rgba(62,178,143,0) 100%);
    }

    li:hover {
      padding-left: 4px;
      border-left: 2px solid #3eb28f;
    }

    a {
      color: #59ffcd;
      text-decoration: none;
    }

    span.badge {
      font-size: 80%;
      padding: 0 2px;
      border-radius: 2px;
    }

    span.badge.a {
      background-color: #ff0000;
      color: #fff;
    }

    span.badge.b {
      background-color: #0000ff;
      color: #fff;
    }
  }

  section.sidebar-footer {
    font-size: 80%;
    color: #ddd;

    a {
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      opacity: 0.8;
    }

    a:hover .fas {
      transform: scale(1.2);
    }

    .fas {
      color: #fff;
      display: inline-block;
    }
  }
}
