<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - Melonz Documentation</title>
  <link href="https://fonts.googleapis.com/css?family=Arimo|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/master.css">
  <link rel="shortcut icon" href="/img/melonz.png" type="image/png">
</head>

<body>
  <aside id="bg"></aside>

  <aside id="menu" onclick="document.getElementById('sidebar').classList.toggle('open');document.getElementById('menu').classList.toggle('open')">
    <i class="fas fa-bars fa-fw"></i>
  </aside>

  <div id="container">
    <aside id="sidebar">
        <section class="sidebar-box">
          <h1><img class="logo" src="/img/melonz.png"><span>Melonz</span><br>Documentation</h1>
          <ul>
            <li {% if '/' == page.url %}class="active" {% endif %}><a href="/"><i class="fas fa-fw fa-home"></i> Home</a></li>
            <li><a href="https://melonz.nl"><i class="fas fa-fw fa-globe-americas"></i> Melonz.nl</a></li>
          </ul>
        </section>

        <section class="sidebar-box">
          <h3><img src="/img/vestlus.png" alt="Vestlus Logo">Vestlus</h3>
          <ul>
            {% for v in site.Vestlus %}
            <li {% if v.url == page.url %}class="active" {% endif %}><a href="{{ v.url }}">{{ v.title }}</a></li>
            {% endfor %}
          </ul>
        </section>

        <section class="sidebar-box">
          <h3><img src="/img/vestlus-api.png" alt="Vestlus API Logo">Vestlus API</h3>
          <ul>
            {% for va in site.VestlusAPI %}
            <li {% if va.url == page.url %}class="active" {% endif %}><a href="{{ va.url }}">{{ va.title }}</a> {% if va.type %}<span class="badge {% if va.type == 'get' %}a{% else %}b{% endif %}">{{ va.type }}</span>{% endif %}</li>
            {% endfor %}
          </ul>
        </section>

        <section class="sidebar-footer">
          <p>
            <a href="https://gitlab.com/Melonz/docs/blob/master/{{ page.path }}"><i class="fas fa-fw fa-edit"></i>  Edit this page</a><br><br> A Jekyll-Powered Site<br> &copy; 2018 Melonz
          </p>
        </section>
    </aside>

    <main>
      <header>
        <div id="mobile-header">
          <h1><img class="logo" src="/img/melonz.png"><span>Melonz</span><br>Documentation</h1>
        </div>


        {% if page.collection %}
            <h4>{{ page.collection }}</h4>
            <h1>{{ page.title }}</h1>
          {% else %}
            <h1>{{ page.title }}</h1>
        {% endif %}
        {% if page.date %}<h3>Created at {{ page.date | date: '%Y-%m-%d' }}</h3> {% endif %}
      </header>

      {{ content }}
    </main>
  </div>

</body>

</html>
